.main-container{
    width: 100%;
    background-color: #F5F5F5;
}




.content-section-reverse {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    margin: 5% 10% 0% 10%;
    
    
   
   
    
}

.content-section {
    display: flex;
    justify-content: space-between;
    margin: 5% 10% 5% 10%;
   
    
}


.text-content-top{
    text-align: left;
    align-self: center;
    width: 45% ;
    margin-top: -10%;

}
.text-content-top p{
    color: rgb(90, 89, 89);
    font-size: 0.9em;
    line-height: 2.0em;
}

.text-content-top h2{
    font-weight: 400;
}
.text-content{
    text-align: left;
    align-self: center;
    width: 45% ;
   
}
.text-content p{
    color: rgb(90, 89, 89);
    font-size: 0.9em;
    line-height: 2.0em;
}

.text-content h2{
    font-weight: 400;
}
.text-content h3{
    font-size: 1.5em;
    font-weight: 400;
}


.img-content {
      width: 45%;
     

     
    }
.img-content img{
    border-radius: 5px;
    width: 80%;
    display: block;
}

.img-content .girl-jump{
    margin-top: 20%;
}

.cta-btn{
    background-color:transparent;
    border:1px solid #4b80f2;
    color: #4b80f2;
    padding: 2%;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 1em;
    margin-top:2%;
    border-radius: 10px;
    width: 45%;
}



.text-content ul {
   list-style-type: none;
  
  }
  
  
  ul li:before {
    content: '';
    display: inline-block;
    height: 25px;
    width: 25px;
    background-size: 25px;
    background-image: url(../images/checkmark.png);
    background-repeat: no-repeat;
    background-position: center center;
    vertical-align: middle;
    margin-left: -25px;
  }

.listContainer{
    width: 100%;
}
.list{
    display:flex;
    max-width: 100%;
   
}


.list h4{
font-weight: 500;
}

.list .fingerprint{
    width: 15%;
}

.list .finger{
    width: 23%;
}

.list .employee{
    width: 20%;
}



.list .paragraph{
    margin-left:5%;
    
}


   
   
  

    

    
