.nav-links{
    display: flex;
    justify-content: space-around;
    padding-top: 3%;

    
}
.nav-links .partner{
    color: white;
    text-decoration: none;
    font-weight: 800;
}

.nav-background{
    background-image: linear-gradient(rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.3)),url(../images/diningroom.jpg);
    background-size: cover;
    // opacity: 0.7;
    // filter: brightness(70%); 
    height: 70vh;
    width: 100%;
}

.Intro{
    align-items: center;
    margin: 13% 10% 10% 10%;


}

.Intro h1, p{
    color: white;
    
}
.Intro h1{
    font-size: 3em;
}
.Intro p{
    font-size: 1.5em;
}

