.SplitScreenContainer{
    max-width: 100%;
    display: flex;
}

.textSection{
   display: flex;
   background-color: #4b80f2;
   max-width: 100%;
   
}
.flex-text{
    
    align-self: center;
}

.flex-text h3{
    color:white;
    font-size: 1.7em;
}
.split-picture img{
   max-width: 100%;
   max-width: 100%;
   display: block;
}

.BottomCTAContainer{
    max-width: 100%;
    height: 25vh;
}
.cta-text{
    margin-top:7%;
    margin-left:5%;
    line-height: 0rem;
    
    
}
.cta-text h4{
    font-weight: 400;
    font-size: 1.9em;
}
.cta-text p{
    color:rgb(90, 89, 89); 
    font-size: 0.7em;
}


.cta-btnbottom{
background-color: #4b80f2;
border-color:transparent;
    color: white;
    padding: 1.5%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    margin-top:2%;
    border-radius: 25px;
    width: 15%;
    outline: 0;
}